<main role="main">
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="">

        <div class="row">
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-4">
                <h2>$231152.42 </h2>
              </div>
              <div class="col-lg-3">
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
              </div>
              <div class="col-lg-3">
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
              </div>
            </div>

          </div>
          <div class="col-lg-5">
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
          </div>
        </div>



      </div>
    </div>
  </header>
  <!-- Main jumbotron for a primary marketing message or call to action -->


  <!-- /container -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">

        <h3>Payments Last week</h3>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <h3>
              Income
              25348</h3>
          </div>
          <div class="col-lg-3">
            <h3>
              Income
              25348</h3>
          </div>
          <div class="col-lg-3">
            <h3>
              Income
              25348</h3>
          </div>


        </div>

      </div>

    </div>

  </div>
  <div class="col-lg-12 ">
    <div class="card mt-3">
      <div class="card-header">
        Forgot To Punch <span class="badge badge-warning">Pending</span>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">20 Jan 2020</h5>
              MOn 9:am -6Pm
              <small>Applied 2 jan</small>
            </div>
          </div>
          <div class="col-6 ">
            <div class="col-6">
              <div class="d-flex w-100 justify-content-between">
                <small>Total Hours</small>
                <h4 class="mb-1">9</h4>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 ">
    <div class="card mt-3">
      <div class="card-header">
        Forgot To Punch <span class="badge badge-warning">Pending</span>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">20 Jan 2020</h5>
              MOn 9:am -6Pm
              <small>Applied 2 jan</small>
            </div>
          </div>
          <div class="col-6 ">
            <div class="col-6">
              <div class="d-flex w-100 justify-content-between">
                <small>Total Hours</small>
                <h4 class="mb-1">9</h4>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 ">
    <div class="card mt-3">
      <div class="card-header">
        Forgot To Punch <span class="badge badge-warning">Pending</span>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">20 Jan 2020</h5>
              MOn 9:am -6Pm
              <small>Applied 2 jan</small>
            </div>
          </div>
          <div class="col-6 ">
            <div class="col-6">
              <div class="d-flex w-100 justify-content-between">
                <small>Total Hours</small>
                <h4 class="mb-1">9</h4>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
